@font-face {
   font-family: '12 Godana-Regular';
   font-display: swap;
   src: url('file:///C:/Users/selah/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-15_020715/fonts/12%20Godana-Regular/font.ttf');
}
