@font-face {
   font-family: '11a AdwaSansSerif-Bold';
   font-display: swap;
   src: url('file:///C:/Users/selah/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-15_020715/fonts/11a%20AdwaSansSerif-Bold/font.ttf');
}
