@font-face {
   font-family: 'Ethiopic Abay Light';
   font-display: swap;
   src: url('file:///C:/Users/selah/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-15_020715/fonts/Ethiopic%20Abay%20Light/font.ttf');
}
